<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>IotPay</strong> Mobile
      </h2>
    </div>  

    <!-- Login form -->
    <form novalidate class="list-form" [formGroup]="signInForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Username
        </ion-label>
        <ion-input  formControlName="username" type="String" [class.error1]="!signInForm.controls.username.valid && signInForm.controls.username.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signInForm.get('username').hasError('minlength') || signInForm.get('username').hasError('maxlength') 
      ||signInForm.get('username').hasError('pattern') ||signInForm.get('username').hasError('required') ) 
      && signInForm.get('username').touched">
        <div class="error danger" *ngIf="signInForm.get('username').hasError('required') && signInForm.get('username').touched">
          Please input your username
        </div>
        <div class="error" *ngIf="signInForm.get('username').hasError('minlength') && signInForm.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="signInForm.get('username').hasError('maxlength') && signInForm.get('username').touched">
          Maximum 10 characters
        </div>
        <div class="error" *ngIf="signInForm.get('username').hasError('pattern') && signInForm.get('username').touched">
          Just use alphabet character
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input  type="password" formControlName="password" [class.error1]="!signInForm.controls.password.valid && signInForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signInForm.get('password').hasError('minlength') || signInForm.get('password').hasError('maxlength') ||signInForm.get('password').hasError('required') ) && signInForm.get('password').touched">
        <div class="error" *ngIf="signInForm.get('password').hasError('required') && signInForm.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="signInForm.get('password').hasError('minlength') && signInForm.get('password').touched">
          Minimum 6 characters
        </div>
        <div class="error" *ngIf="signInForm.get('password').hasError('maxlength') && signInForm.get('password').touched">
          Maximum 12 characters
        </div>
      </ion-item>
<!--

  <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
        <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
          Email address invalid
        </div>
      </ion-item>
-->



    </form>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

    <div>
      <button ion-button icon-start block color="dark" tappable (click)="login()" [disabled]="signInForm.invalid">
        <ion-icon name="log-in"></ion-icon>
        SIGN IN
      </button>

      <!--p text-center ion-text color="secondary">Or Sign in with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid-->

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">New here? <strong>Sign up</strong></span>
    </div>

  </div>
</ion-content>
<style type="text/css">
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }
</style>